<div class="form">
  <div class="text-form"
<%= form_for(@unit_of_measurement) do |f| %>
  <% if @unit_of_measurement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit_of_measurement.errors.count, "error") %> prohibited this unit_of_measurement from being saved:</h2>

      <ul>
      <% @unit_of_measurement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong><%= f.label 'Nome:' %><br></strong>
    <%= f.text_field :name, maxlength: 20%>
  </div>
  <div class="field">
    <strong><%= f.label 'Sigla:' %><br></strong>
    <%= f.text_field :initials, maxlength: 7 %>
  </div>
  </div>
  <div class="actions">
    <%= f.submit 'Salvar', class: 'btn btn-success' %>
  
<% end %>

