<div class="container">
<h1>Listando as Métricas</h1>

<table class="table table-striped" align="center">
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @metrics.each do |metric| %>
      <tr>
        <td class="col-md-6"><%= metric.name %></td>
        <td style='white-space: nowrap'><%= link_to 'Ver', metric, class: 'btn btn-info' %>
        <%= link_to 'Adicionar Dados', new_final_measure_path(:metric => metric.id), class: 'btn btn-secondary' %>
        <%= link_to 'Editar', edit_metric_path(metric), class: 'btn btn-success' %>
        <%= link_to 'Excluir', metric, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Métrica', new_metric_path, class: 'btn btn-success' %>
<%= link_to 'Voltar', '/', class: 'btn btn-primary' %>
</div>