<div class="container">
	<h2>Métrica: <%= @metric.name %>  
	<%= link_to edit_metric_path(@metric) do %>
  		<i class="fa fa-pencil"></i>
	<% end %>
	
</h2>
	<p><strong>Unidade de Medida:</strong> <%= @metric.unit_of_measurement.name %></p>
	<p><strong>Escala de Medição:</strong> <%= @metric.scale %> </p>
	
	
	<% if @metric.scale == "Nominal" || @metric.scale == "Ordinal" %>
	<div class="show-gray">
		<%= pie_chart @measures.group(:name).sum(:value) %>
	</div>
		<h3> Valor das medidas </h3>
		<%- @measures.each do |measure| %>
			<div>
				<b> Nome:</b> <span><%= measure.name %></span>
				<b> Ocorrência:</b> <span><%= measure.value %></span>
				<%= link_to 'Editar', edit_measure_path(measure), class: 'btn btn-warning' %>
			</div>
		<% end %>
	<% else %>
		<div class="show-gray">
		  <%= area_chart @final_measures.group_by_day(:collect_date, series: false).sum(:value) %>
		</div>
		
		<div>
		<h3> Valor das medidas </h3>

		<%- @final_measures.each do |final_measure| %>
			<div> 
				<b>Valor:</b> <span> <%= final_measure.value %> </span> 
				<b>Data de coleta:</b> <span> <%= final_measure.collect_date.to_date.strftime("%d-%m-%Y") %></span>
				<%= link_to 'Editar', edit_final_measure_path(final_measure), class: 'btn btn-warning' %>
			</div> 
		<% end %>
	</div>
		
	<% end %>
	<div>
			<%= link_to 'Adicionar Dados', new_final_measure_path(:metric => @metric.id), class: 'btn btn-success' %>
		<%= link_to 'Voltar', metrics_path, class: 'btn btn-primary' %>
	</div>
</div>