<%= form_for(@measure) do |f| %>
  <% if @measure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@measure.errors.count, "error") %> prohibited this measure from being saved:</h2>

      <ul>
      <% @measure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div id='measures'>
    <%= render 'partial_measure', f: f %>
  </div>

  <input type='button' value='Adicionar Medidas' id='add_measure'/>

  <div class="actions">
    <%= f.submit 'Salvar', class: 'btn btn-success'%>
  </div>

   <script type="text/javascript">
        $('#add_measure').click(function() {
            $("#measures").append('<%= escape_javascript("#{render 'partial_measure', f: f}").html_safe %>');
        });
  </script>
<% end %>

