<%= form_for measure, remote: true do |f| %>
  <% if measure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(measure.errors.count, "error") %> prohibited this measure from being saved:</h2>

      <ul>
      <% measure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col">
      <div class="form">
        <div id='measures'>
        <%= f.hidden_field :final_measure_id, :value => @final_measure.id %>
          <%= render 'measures/partial_measure', f: f %>
        </div>
        <div class="actions">
          <%= f.submit 'Salvar', class: 'btn btn-success', remote: true, id: 'submit'%>
        </div>
      </div>
    </div>
    <% if @metric.scale == 'Nominal' || @metric.scale == 'Ordinal' %>
      <div class="col">
          <div id='div-final-meaures'>
            <h3> Valor das medidas </h3>
            <ul id='ul-measures' data-update-url="<%= sort_measures_url %>"">
            </ul>
          </div>
      </div>
    <% else %>
      <div class="col">
        <div id='div-final-meaures' class="text-form">
          <h3> Passo 2: Combine as Medidas </h3>
          <ul id='ul-measures' data-update-url="<%= sort_measures_url %>"">
          </ul>
        </div>
        <div id='final'>
          <h3>Passo 3: Verifique o Resultado Final</h3>
              
        </div>
      </div>
      <%end%>
  </div>
<% end %>

