<%= content_tag_for :li, measure do %>
    	<hidden id="measure_id_<%= measure.id %>"><%= measure.id %></hidden>
		<span id="measure_name"><%= measure.name %></span>
		<span id="measure_value"><%= measure.value %></span>
		<select id="operator_<%= measure.id %>">
			<option>=</option><option>+</option><option>-</option><option>*</option><option>/</option>
		</select>
	<script>
		$(function(){
			$('select#operator_<%= measure.id %>').change( function() {
			  $.post('/measures/update_operator',{operator: $('option:selected',this).val(), measure: $('#measure_id_<%= measure.id %>').text()});
			 });
		});
	</script>
<% end %>



 
