	<%= content_tag_for :li, measure do %>
	    	<hidden id="measure_id_<%= measure.id %>"><%= measure.id %></hidden>
			<span id="measure_name"><%= measure.name %></span>
			<span id="measure_value"><%= measure.value %></span>
			<%= select_tag 'operator', "<option>=</option><option>+</option><option>-</option><option>*</option><option>/</option>".html_safe %>
		<script>
 		$(function(){
  			$('select#operator').change( function() {
  			  $.post('/measures/update_operator',{operator: $('option:selected',this).val(), measure: $('#measure_id_<%= measure.id %>').text()});
 			 });
			});
		</script>
	<% end %>



 
