<div id="form_measures">
    <%= f.hidden_field :metric, :value => @metric.id %>
    
    <h3>Insira as Medidas</h3>
    <div class="field">
      <%= f.label 'Nome:' %><br>
      <%= f.text_field :name, maxlength: 200, size: 13, id: 'name'%>
    </div>
    <div class="field">
      <%= f.label 'Valor:' %><br>
      <%= f.number_field :value, id: 'value' %>
    </div>
  
</div>

 